@font-face {
    font-family: roboto_regular;
    src: url(../fonts/roboto/roboto-regular-webfont.woff);
}

.copy {
    color: #666666;
    font-family: roboto_regular;
}


.footer-container {
    background-color: #efefee;
   
    width: 100%;
}
.section-footer {
    width: 100%;
    margin: 0px;

}

.pFooter {
    width: 50%;
    margin: 0px 0px;
    margin-left: 0px;
    padding: 0px;
   
    float: left;
}

.listaFooter .listaHijo {
    border-left:grey;
}
.col-usa {
    clear: both;
  
}

.col-border {
    border-left-style: solid;
    border-left-width: 1px;
    padding-left: 20px;

}

.linkedin {
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: 5px 0px;
    font-size: 24px;
    color: transparent !important;
    margin-right: 0px;
}

.linkedin:hover {
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: 5px -33px;
    font-size: 24px;
    color: transparent !important;
    cursor: pointer;
}

.twitter {
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -33px 0px;
    font-size: 24px;
    color: transparent !important;
}

.twitter:hover {
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -33px -33px;
    font-size: 24px;
    color: transparent !important;
    cursor: pointer;
}

.youtube {
    width:50px;
    height: 50px;
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -100px -1px;
    font-size: 24px;
    color: transparent !important;
}

.youtube:hover {
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -100px -33.9px;
    font-size: 24px;
    color: transparent !important;
    cursor: pointer;
}
.vimeo {
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -131px 0px;
    font-size: 24px;
    color: transparent !important;
}

.vimeo:hover {
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -132px -34px;
    font-size: 24px;
    color: transparent !important;
    cursor: pointer;
}

.google {
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -167px 0px;
    font-size: 24px;
    color: transparent !important;
}

.google:hover {
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -167px -33px;
    font-size: 24px;
    color: transparent !important;
    cursor: pointer;
}


.facebook {
    margin-left: 0px;
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -66px -1px;
    font-size: 23px;
    color: transparent !important;
}

.facebook:hover {
    margin-left: 0px;
    background-image: url(../img/btns/btns.png);
    background-repeat: no-repeat;
    background-position: -66px -34px;
    font-size: 23px;
    color: transparent !important;
    cursor: pointer;
}

.usa {
    background-image: url(../img/icons/countrys.png);
    background-repeat: no-repeat;
    background-position: 0px 15px;
    font-size: 25px;
    margin-right: 10px;
    color: transparent;
    display: inline-block;

}

.usaTitle {
    color: #666666;
    font-size: 15px;
    display: inline-block;
}

.mexico {
    background-image: url(../img/icons/countrys.png);
    background-repeat: no-repeat;
    background-position: -40px 10px;
    font-size: 25px;
    color: transparent;
}

.mexicoTitle {
    color: #666666;
    font-size: 15px;
    display: inline-block;
}
.parrafFooter {
    font-size: 11px;
    font-family: roboto_regular;
    text-align: center;
    color: #666666;
    margin-top: 0px;
    margin-bottom: 0px;
}.mexicoContainer {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #666666;
}

.list {
    display: inline-block;
}
.list-item {
    color: #666666;
    margin-left: -5px;
}

.itemlistSocial {
    margin: 0 .5vw;
}
.borderLeft {
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #666666;
    padding-left: 10px;
}
.policyList {
    color: #666666;
}